/*
 Theme Name:   Twenty nineteen enfant
 Theme URI:    http://example.com/twenty-nineteen-enfant/
 Description:  Twenty nineteen enfant
 Author:       Kevin Langlois
 Author URI:   http://example.com
 Template:     twentynineteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-nineteen-enfant
*/

@import "mixins/utilities";
@import "mixins/mixins-master";
@import "mixins/mixins-master";
@import "sass/animation/animation";
@import "sass/variables-site/variables-site";

.site-branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.site-branding > .site-title{
background-color: #464646;
border-bottom: .1em solid #161616;
font-size: 2em;

}

.site-title a:hover {
    color: #252525;
  }

.widget a {
    color: #161616;
}

.widget a:visited{
    color: #161616;
}

.widget a:hover{
    color: #252525;
    text-decoration: underline;
}



.entry .entry-content .wp-block-quote:not(.is-large), .entry .entry-content .wp-block-quote:not(.is-style-large){
    border-left-color: #161616;
}

.etiquette-image{
    border: 1em solid #161616;
    background-color: #161616;
}

#page{
    background-color: #464646;
}

/* Forms */
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  transition: background 150ms ease-in-out;
  background: #161616;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 0.88889em;
  font-weight: 700;
  line-height: 1.2;
  outline: none;
  padding: 0.76rem 1rem;
  text-decoration: none;
  vertical-align: bottom;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #252525;
  cursor: pointer;
}

.button:visited,
button:visited,
input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited {
  color: #161616;
  text-decoration: none;
}


.entry .entry-content .wp-block-archives li a,
.entry .entry-content .wp-block-categories li a,
.entry .entry-content .wp-block-latest-posts li a {
  color: #161616;
}

.entry .entry-content .wp-block-archives li a,
.entry .entry-content .wp-block-categories li a,
.entry .entry-content .wp-block-latest-posts li a:hover {
  color: #252525;
  text-decoration: underline;
}

.entry .entry-content .wp-block-latest-posts.is-grid li {
  border-top-color: #5E5E5E;
}




.site-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0em;
}

.site-main > header {
    margin-bottom: 0;
}

.site-main > article{
    margin-top: 0;
    font-size: 10px;
}

.site-main header{
    grid-column-start: 1;
    grid-column-end: 6;
}

@include media(desktop){
  .site-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0em;
}
.site-main header{
  grid-column-start: 1;
  grid-column-end: 6;
}
}

